<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
 
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="chapter1" class="nav-link active" aria-current="page" routerLinkActive="active">
          Chapter 1
        </a>
      </li>
      <li>
        <a routerLink="chapter2" class="nav-link link-dark" routerLinkActive="active" >
          Chapter 2
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Chapter 3
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Chapter 4
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          Chapter 5
        </a>
      </li>
    </ul>
  
    
  </div>